body {
    background-color: rgb(56, 50, 70);
}

.calculator {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    height: 50%;
    border-radius: 25px;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #161616 1px);
    background-size: 10px 10px;
    backdrop-filter: blur(20px);
}

#blob {
    animation-name: blob;
    animation-duration: 10s;
    position: absolute;
    left: 0%;
    top: -52%;
    animation-iteration-count: infinite;
}

@keyframes blob {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}